.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  padding-left: 1px;
  height: 250px;
  width: 360px;
}
.title-heading {
  color: #64748b;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}
.paragraph-card {
  color: #64748b;
  font-size: 14px;
  font-family: 'Roboto';
  max-width: 80%;
}
.card-text {
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
}
.image {
  height: 50px;
  align-self: flex-end;
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
